  .droparea {
        outline: 1px dashed #d6d3d1;
        border: 2px dashed transparent;
        border-radius: 0.25rem;
        display: grid;
        justify-items: center;
        gap: 0.5rem;
        text-align: center;
        padding: 1.75rem 1rem;
        position: relative;

        & .inputcontrol {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          opacity: 0;
        }

        & p {
          color: #a8a29e;
        }

        &:hover,
        &:focus .inputcontrol {
          outline-width: 0;
          border-color: #dee2e6;

          & p {
            color: #8f8881;
          }

          & svg path {
            stroke: #a8a29e;
          }
        }
      }
