@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
html, body {
  font-family: 'Inter', sans-serif;
  background-color: #fffffe;

=======
/* Modo claro  */
:root {
  --bg: #fffffe;   
  --text: #2a2a2a; 
  --span: #2a2a2a;
}

/* Modo escuro */
body.dark {
  --bg: #121212;   
  --text: #ffffff; 
  --span: #d1d5db;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
>>>>>>> Integracao
}

span {
  color: var(--span);
}


@media (width <= 56.25rem) {
  .image-pet {
    display: none;
  }
}
